body {
    font-family: Roboto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    width: auto;
    border-color: grey;
}

.root {
    background-color: rgb(155, 151, 151);
    height: auto;
    width: 25%;
}

.en-tête {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    border-radius: 3px;
    background-color: orange;
    text-align: justify;
    padding: 1%;
}

.photo {
    height: 50%;
    width: 25%;
}

#photo {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    height: auto;
    width: 100%;
}

.logo {
    margin: 3%;
    display: flex;
    justify-content: space-around;
    flex-direction: flex-start;
    background-color: grey;
    height: 5%;
    width: 10%;
    text-align: center;
    border-radius: 3px;
}

#icoLoupe {
    display: flex;
    justify-content: center;
    height: 2%;
    width: 2%;
}

ul {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400%;
    background-color: #f1f1f1;
}

#page {
    margin: 2%;
    width: 100%;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */

li a:hover {
    background-color: #555;
    height: auto;
    color: white;
}

#article {
    padding: 3%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.article {
    height: auto;
    width: 50%;
    padding: 5%;
    font-size: 80%;
    text-align: justify;
}

.vide {
    height: auto;
    width: 50%;
    background-color: grey;
    border-radius: 3px;
}

/*media queries*/

@media only screen and (min-width: 360px) and (max-width:1024px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #icoLoupe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 2%;
        width: 2%;
        margin-left: 50%;
    }
    #photo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photo {
        width: 50%;
        margin: 2%;
    }
    #article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article {
        width: 50%;
        padding: 5%;
        font-size: 70%;
        text-align: justify;
    }
    .BarreNav {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-color: grey;
        justify-content: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .logo {
        display: flex;
        flex-direction: column;
    }
}